.CommentForm {
  margin: 30px auto;
  border: 5px solid #e8e8e8;
  padding: 25px;
  border-radius: 14px;
  &__title {
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 5px;
  }
  &__list {
    margin: 38px 0;
    padding: 20px;
  }
  &__list-title {
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 5px;
  }
  &__item {
    padding: 18px;
    border-bottom: 2px dotted #dfdfdf;
  }
  &__bottom {
    font-size: 15px;
    text-align: right;
  }
}

span {
  font-size: 14px;
  margin: 0 12px;
}
